[user]
	email = jules.gottraux@epfl.ch
	name = Jules Gottraux
[alias]
	s = status
	a = add
	c = commit
	co = checkout
	pl = pull
	p = push
	f = fetch
	br = branch
	root = !pwd
[core]
	editor = vim
	pager = cat
[pager]
	log = less
	diff = less
[color]
	ui = auto
